<!DOCTYPE html>
<html>
<head>
    <title>用WebSocket实时获知比特币价格</title>
</head>
<body>

<div style="width:400px;margin:20px auto;border:1px solid lightgray;padding:20px;text-align:center;">
    当前比特币价格：￥<span style="color:#FF7519" id="price">10000</span>
    <div style="font-size:0.9em;margin-top:20px">查看的人数越多，价格越高, 当前总共 <span id="total">1</span> 个人在线</div>
    <div style="color:silver;font-size:0.8em;margin-top:20px">以上价格纯属虚构，如有雷同，so what？</div>

</div>

</body>
<script src="sockjs-0.3.0.min.js"></script>
<script src="stomp.js"></script>
<script type="text/javascript">
    var websocket = null;
    //判断当前浏览器是否支持WebSocket
    if ('WebSocket' in window) {
        var url = 'https://localhost/stomp';
        var socket = new SockJS(url);
        var stomp = Stomp.over(socket);
        var payload = JSON.stringify({'message':'Marco'})

        stomp.connect('guest','guest',function(frame){
            stomp.subscribe('/topic/getResponse', function (greeting) {
                console.log(JSON.parse(greeting.body).message);
            });
            stomp.send("/app/marco",{},payload);

        })

        // stomp.onopen = function() {
        //     console.log('open');
        //     stomp.send("/app/marco",payload);
        // };




        stomp.onmessage = function(e) {
            console.log('message', e.data);
        }

    }
    else {
        alert('当前浏览器 Not support websocket')
    }

    //将消息显示在网页上
    function setMessageInnerHTML(innerHTML) {
        var bitcoin = eval("("+innerHTML+")");
        document.getElementById('price').innerHTML = bitcoin.price;
        document.getElementById('total').innerHTML = bitcoin.total;
    }

    //关闭WebSocket连接
    function closeWebSocket() {
        socket.close();
    }

</script>
</html>